body {background-color: rgba(247, 199, 199, 0.459) !important;}
.container-fluid {background-color: rgba(247, 199, 199, 0) !important;}

.my2sx {
    position: relative;
    width: 450px;
    height: 300px;
    margin:auto;
    margin-top: 80px;
    margin-bottom: 30px;
    outline: 3px dashed white;
    outline-offset: 3px;
}



.my2dx {
  position: relative;
  width: 450px;
  height: 300px;
  margin:auto;
  margin-top: 80px;
  margin-bottom: 30px;
  outline: 3px dashed white;
  outline-offset: 3px;
}



.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #8a5c2749;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }

  .overlaydx {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #8a5c2749;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .my2sx:hover .overlay {
    width: 100%;
  }

  .my2dx:hover .overlaydx {
      width: 100%;
      left:0;
  }

  
  .text {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 35px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.705);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap; }






 